/* 
    Document   : Stylesheet
    Created on : 11.9.2013, 22:15:58
    Author     : Pali
    Description:
        One common stylesheet file per a page.
*/

root {
    display: block;
}

* {
    margin: 0px 0px;
    /*border: red solid 1px;*/
}

html, body {
    background-color: appworkspace;
    height: 100%;
    width: 100%;

    font-size: 62.5%;

    /*font-family: "HelveticaNeue", sans-serif;*/
}

.page_section {
    height: 100%;
    width: 100%;
    overflow: hidden;
    /*border: blue solid 1px;*/
}

.page_section_wrapper {
    height:100%;
    width: 85%;
    max-width: 1024px;
    
    margin-left: auto;
    margin-right: auto;

    padding-top: 8%;

    /*border: blue solid 1px;*/
}

#abt_prjct_ps .page_section_wrapper {
    padding-top: 0%;
}

/**************** welcome section ****************/
#section_welcome {

    position: relative;
    width: 100%;
    height: 100%;
    /*changed from JPG to PNG*/
    background: #ffffff  url('./images/welcome_background.png') no-repeat left top;
    background-position: 50% 50%; /* for moving the background up */
    background-size:cover;
}

.section_welcome_class {
    position: relative;
    width: 100%;
    height: 100%;
    /*changed from JPG to PNG*/
    background: #ffffff  url('./images/welcome_background.png') no-repeat left top;
    background-position: 50% 50%; /* for moving the background up */
    background-size:cover;
}

#welcome_logo_kosice {

    position: absolute;
    height: 85px;
    width: 88px;
    top: 0px;
    right: 0px;
    background: url('./images/welcome_kosice_logo.png') no-repeat;
}

#welcome_title {

    position: relative;
    height: 233px;
    max-width: 366px;
    background: url('./images/tokaj_title_logo.png') no-repeat center;
    /*background-size: 100% 100%;*/
}

#welcome_middle_wrapper{

    position: relative;
    height: 600px;
    width:  366px;
    margin: 2% auto 0% auto;
}

#welcome_menu {

    position: relative;
    height: 342px;
    width: 366px;
    text-align: center;
}

.row_class {
    vertical-align: middle;
}
.row_class:first-child {
    margin-top: 10%;
}

#welcome_menu .welcome_menu_item_wrapper {

    position: relative;
    display: inline-block;

    width: 108px;
    height: 108px;
    line-height: 108px;
    text-align: center;

    margin: 3px;

    border-radius: 50%;
    border: white solid 3px;
}

#welcome_menu .welcome_menu_item_wrapper:nth-child(1) {

    margin-left: 0px;
}

#welcome_menu .welcome_menu_item_wrapper:nth-child(3) {

    margin-right: 0px;
}

.hoverable:hover {
    cursor: pointer;
    background-color: rgba(255,255,255, 0.33);
}

.hoverable:active {
    cursor: pointer;
    background-color: rgba(255,255,255, 0.66);
}
/**************** end of welcome section ****************/

/**************** sticky menu of project info section ****************/
.sticky_menu_class {

    position: relative;

    width: 100%;
    height: 100px;

    display: block;
    visibility: visible;

    /* used instead of classic rgb() and opacity */
    background-color: rgba(143, 72, 6, 0.65);
}

.sticky_menu_hidden_class {

    position: relative;

    width: 100%;
    height: 100px;

    /*display: none;*/
    visibility: hidden;

    /*background-color: rgba(143, 72, 6, 0.65);*/
}

.f-nav{ 
    z-index: 9999; 
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 100%;
    background-color: rgba(143, 72, 6, 0.65);
}

#sticky_menu_wrapper_left {

    position:absolute;

    height: 100%;

    left:0px;    

}

#sticky_menu_wrapper_right {

    position:absolute;

    height: 100%;

    right: 0px;
}


#sticky_menu_wrapper_centered {

    position:absolute;

    left:50%;
    margin-left:-345px;

    /*80 px height*/
    height: 100px;
    width: 690px;
}

#sticky_menu .sticky_menu_item {

    position:relative;

    float: left;
    width: 80px;
    height: 80px;

    margin: 7px 5px;

    border-radius: 50%;
    border: white solid 3px;

    text-align: center;
}

#sticky_menu .sticky_menu_item:hover {
    cursor: pointer;
}

#sticky_menu .sticky_menu_item .sticky_menu_item_left_cropped {
    display: table-cell;

    height: 80px;
    width: 80px;

    vertical-align: middle;
    text-align: center;

    line-height: normal;    

    font-family: "helvetica_cond_bold";
    /* 25 px */
    font-size: 1.3em;

    color: white;
    text-transform: uppercase;

    border-radius: 50%;
    border-left: white solid 3px;

    overflow: hidden;
}

#sticky_menu .sticky_menu_item .sticky_menu_item_right_cropped {

    position:absolute;

    top: 5px;
    right: 6px;
    width: 80px;
    height: 80px;

    font-size: 120%;

    border-radius: 50%;
    border-right: white solid 3px;

    overflow: hidden;
}

/* logo in the center of sticky menu */
#sticky_menu_logo_item {

    float: left;
    width: 104px;
    height: 66px;
    margin: 17px 5px;
}

#sticky_menu_logo_item img {

    float: left;
    height: 66px;
}

/* end of sticky menu*/

/**************** project info section ****************/
#abt_prjct_ps {
    position: relative;
    width: 100%;
    height: 100%;
    /*changed from PNG to JPG*/
    background: #ffffff  url('./images/project_info_background.jpg') no-repeat left top;
    background-position: 50% 50%; /* for moving the background up */
    background-size:cover;
}



#project_info_container {

    position: relative;

    display: block;

    max-width: 100%;
    height: auto;
}
#left_part_wrapper {
    position: relative;
    float: left;
    width: 32%;
    height: auto;
}

#left_part_wrapper img {
    max-width: 100%;
    height: auto;
}

#right_part_wrapper {
    position: relative;
    float: right;
    width: 66%;
}

.left_part_block_item {

    position: relative;

    height: 30%;
    width: 90%;

    margin-right: 5%;
    margin-bottom: 5%;
}

#right_part_wrapper .project_info_right_part_text_wrapper{
    width: 100%;
}

#right_part_wrapper .project_info_right_part_row{
    width: 100%;
    height:100%;
    clear: both;
    overflow: hidden;
}

#right_part_wrapper .project_info_right_part_text_wrapper .left_column{
    float: left;
    width: 33%;
}

#right_part_wrapper .project_info_right_part_text_wrapper .right_column{
    float:left;
    width: 66%;
    clear: right;
}

#right_part_wrapper img {

    position: relative;
    margin-top: 2%;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}
/**************** end of project info section ****************/

/**************** aims and realization section ****************/
#aims_and_realization_ps {
    position: relative;
    width: 100%;
    height: 200%;
    background: #ffffff  url('./images/aims_realization_background.png') no-repeat left top;
    background-position: 50% 50%;
    background-size:cover;
}

#impressive_shoots_wrapper img {
    position: relative;
    width: 315px;
    height: auto;
    margin-right: 16px;
    margin-bottom: 12px;
    float: left;
    max-width: 100%;
}

#aims_and_realization_ps .aims_and_realization_text_block_wrapper {
    position: relative;
    height: 300px;
    margin-top: 15px;
    margin-right: 16px;
}

#aims_and_realization_ps .aims_and_realization_text_block_wrapper .block_item {

    position: relative;

    float: left;

    width: 315px;
    margin-right: 16px;
}
/**************** end of aims and realization section ****************/

/**************** partners section ****************/
ul.dash_exp_pref {
    list-style:none;
    margin-left:0px;
    padding-left: 0px;
}

ul.dash_exp_pref li:before {
    display:inline-block;
    content:"-";
    width:3px;
}

ul.dash_circle {
    list-style-type: disc;
    /*    margin-left:0px; */
    padding-left: 16px;
}

#our_partners_ps ul.dash_exp_pref {
    list-style:none;
    margin-right: 12px;
    /*padding-left: 0px;*/
}

#our_partners_ps {
    position: relative;
    width: 100%;
    height: 200%;
    /*changed from PNG to JPG*/
    background: #ffffff  url('./images/partners_background.jpg') no-repeat center top;
    background-size:cover;
}

.partners_section_row_wrapper {
    height: 350px;
    position: relative;
    margin: 10px auto;
    /*width: 100%;*/

}


.partners_ke {

    max-width: 316px;
    height: 316px;
    border-radius: 158px;
    -webkit-border-radius: 158px;
    -moz-border-radius: 158px;
    background: url('./images/dom_alzbeta.jpg') no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;

    overflow: hidden;
}

.partners_mi {
    max-width: 316px;
    height: 316px;
    border-radius: 158px;
    -webkit-border-radius: 158px;
    -moz-border-radius: 158px;
    background: url('./images/miskolc.jpg') no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;

    overflow: hidden;
}

.partners_ab {
    max-width: 316px;
    height: 316px;
    border-radius: 158px;
    -webkit-border-radius: 158px;
    -moz-border-radius: 158px;
    background: url('./images/adujszanto.JPG') no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;

    overflow: hidden;
}

.partners_part {
    position: relative;
    width: 100%;
    /*float:left;*/
    /*margin: 10px auto;*/
}

.partners_text_up {
    /*margin-top: 90px;*/
}

.partners_text_down {
    margin-top: 10px;
}

.partners_logo {
    margin-left: 0px;
}

.partners_text_logo {
    clear: left;
}
/**************** end of partners section ****************/

/**************** gallery section ****************/
#gallery_ps {

    position: relative;
    width: 100%;
    height: 100%;
    background: #ffffff;
    /*background-position: 50% 50%; /* for moving the background up */
    background-size:cover;
}

#gallery {
    text-align: center;
    /*float:left;*/
    /*width: 100%;*/
    /*border: purple 1px solid;*/
    margin: 0px auto;
    max-width: 100%;

    height:auto;
}

#gallery .gallery_item
{
    display:inline;
    /*position: relative;*/
    float: left;

    /*margin: 10px;*/
    height:auto;

    /*width:20%;*/
    /*    max-width: 314px;*/
    max-width: 22%;
    /*margin-left: 3%;*/
    margin-right: 4%;

    /*float:left;*/
    text-align:center;
    /*margin-left: 2%;*/

    /*border: solid red 1px;*/
}

#gallery .gallery_item:nth-child(4n)
{
    margin-right: 0%;
}

#gallery .gallery_item img
{
    /*    margin-bottom: 5px;
        margin-top: 20px;*/
    /*    max-width: 100%;*/
    max-width: 100%;
    height:auto;
}
/**************** end of gallery section ****************/

/**************** contact section ****************/
#contact_ps {

    position: relative;
    width: 100%;
    height: 100%;
    background: #ffffff  url('./images/contact_background.jpg') no-repeat left top;
    background-position: 50% 50%; /* for moving the background up */
    background-size: cover;
}
/**************** end of contact section ****************/

/* hacks */
.clear_both {
    clear: both;
}

.mybr {
    position: relative;
    margin-bottom: 10px;
    clear: both;
}

/*** *** *** text issues *** *** ***/
/*white*/
.section_title_wh {
    position: relative;
    color: white;

    margin-bottom: 2%;
    clear: both;

    font-family: "helvetica_cond_thin";
    font-size: 5.5em; /* 55 px */

}
/*black*/
.section_title_bl {
    position: relative;
    color: black;

    margin-bottom: 2%;
    clear: both;

    font-family: "helvetica_cond_thin";
    font-size: 5.5em; /* 55 px */
}

/* hack - selecting the second .section_title_bl heading */ 
.section_title_bl:nth-of-type(2n) {
    /*margin-top: 50%;*/
}

/*dynamic menu items text*/
#section_welcome .menu_item_text {

    display: table-cell;

    height: 115px;
    width: 115px;

    vertical-align: middle;
    text-align: center;

    line-height: normal;    

    font-family: "helvetica_cond_bold";
    /* 25 px */
    font-size: 2.35em;
    color: white;
    text-transform: uppercase;
}

/* sticky menu items text */
#sticky_menu .sticky_menu_item_text.language_selector {
    /*just larger font*/
    font-size: 2em;
}

#sticky_menu .sticky_menu_item_text {

    display: table-cell;

    height: 80px;
    width: 80px;

    position: relative;

    vertical-align: middle;
    text-align: center;

    line-height: normal;

    font-family: "helvetica_cond_bold";
    color: white;
    text-transform: uppercase;

    /* 18 px */
    font-size: 1.838em; 
}



#i18n_lang_hu {

    color: blue;
    font-size: 2em; 
}

#our_partners_ps img {

    max-width: 82px;
    height: auto;
    float: left;
}

#our_partners_ps .partners_logo_desc {
    position: relative;
    text-align: left;
    font-size: 3em;
    font-weight: 300;
    text-transform: uppercase;

    display: table-cell; 
    vertical-align: middle;
    font-family: "helvetica_cond_bold";
    height: 80px;
}

#gallery .gallery_item .desc
{
    text-align:center;
    font-weight:normal;
    font-size: 2em;
    color: black;
    /* TODO what font? */
}

/* common texts */
.common_text {

    font-family: "helvetica_light";
    font-size: 2.2em; /* 20 px */
}

.small {

    font-size: 1.9em; /* 55 px */
}

.table_text_bold {

    font-family: helvetica_cond_bold;
    font-size: 1.9em; /* 55 px */
}

#aims_and_realization_ps .block_item .block_item_title {

    font-family: "helvetica_cond_thin";
    font-size: 2.5em;
    margin-bottom: 10px;
    text-transform: uppercase;
}
/*** end of heading titles ***/

/*a text je light*/
@font-face {
    font-family: "helvetica_light";
    src: url("helvetica_light.eot");
    src: local("☺"),
        url("helvetica_light.ttf") format("truetype"),
        url("helvetica_light.otf") format("opentype");
}

@font-face {
    font-family: "helvetica_cond_thin";
    src: url("helvetica_cond_thin.eot");
    src: local("☺"),
        url("helvetica_cond_thin.ttf") format("truetype"),
        url("helvetica_cond_thin.otf") format("opentype");
}

@font-face {
    font-family: "helvetica_cond_bold";
    src: url("helvetica_cond_bold.eot");
    src: local("☺"),
        url("helvetica_cond_bold.ttf") format("truetype"),
        url("helvetica_cond_bold.otf") format("opentype");
}

.all_container {
    width: 100%;
    min-height: 50%;
    display: inline-block;
    margin: 0 auto;
}
.all_container:after {
    content: "";
    clear: both;
    width: 100%;
}
.col4 {
    width: 31%;
    float: left;
    margin: 0 1%;
}
.col4:nth-of-type(1) {
    margin-left: 0%;
    border: solid red 1px;
}
.image {
    /*text-align: center;*/
    width: 100%;
    margin-bottom: 5%;
}

.image img {
    /*text-align: center;*/
    width: 100%;
    height: 100%;
}

.container
{
    width: 100%;
    margin: 10px auto;
}

.container .leftnav img, .container .rightnav img
{
    width: 100%;
    max-width: 100%;
    height: auto;
}

.top {
    width: 100%;
    float: left;
    vertical-align: middle;
}


.leftnav
{
    float: left;
    width: 33%;
}

.rightnav
{
    float: right;
    width: 33%;
}

.content
{
    /*width:33%;*/
    margin-left: 33%;
    margin-right: 33%;
}


.row_container
{
    height: 30%;
    width: 100%;
    margin: 10px auto;
}

.row_container .leftnav img, .container .rightnav img
{
    width: 100%;
    max-width: 100%;
    height: auto;
}
.left_text_part{
    width: 66%;
    float: left;
}
.right_logo_part{
    width: 33%;
    float: right;
}
.right_text_part{
    width: 66%;
    float: right;
}
.left_logo_part{
    width: 33%;
    float: left;
}

.bottom_left{
    width: 50%;
    float:left;
}
.bottom_right{
    width: 50%;
    float:right;
}

.i18n_text{

}

/****************************** Media Queries ******************************/

@media (max-width: 770px)
{
    #sticky_menu_logo_item{
        display: none;
    }

    #sticky_menu_wrapper_centered{
        width: 470px;
        margin-left: -235px;
    }

    .page_section_wrapper {

        width: 95%;
    }

    .common_text {
        font-size: 1.95em;
    }

    .small {
        font-size: 1.8em;  
    }

    .section_title_wh {
        margin-bottom: 0.5%;
        font-size: 3.3em;
    }

    .section_title_bl {
        margin-bottom: 0.5%;
        font-size: 3.3em;
    }

    .mybr {
        display: none;
        clear: both;
    }

    #right_part_wrapper img {
        display: block;
        vertical-align: middle;
    }

    .table_text_bold {
        font-size: 1.8em;
    }

    .left_part_block_item {

        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 5%;
    }

    .partners_ke {

        max-width: 236px;
        height: 236px;
        border-radius: 118px;
        -webkit-border-radius: 118px;
        -moz-border-radius: 118px;

        margin: 20px auto;
    }

    .partners_mi {
        max-width: 236px;
        height: 236px;
        border-radius: 118px;
        -webkit-border-radius: 118px;
        -moz-border-radius: 118px;

        margin: 20px auto;
    }

    .partners_ab {
        max-width: 236px;
        height: 236px;
        border-radius: 118px;
        -webkit-border-radius: 118px;
        -moz-border-radius: 118px;

        margin: 20px auto;
    }


    .sticky_menu_class {
        height: 80px;
    }

    .sticky_menu_hidden_class {
        height: 80px;
    }

    #sticky_menu_wrapper_centered {

        margin-left:-258px;

        height: 80px;
        width: 516px;
    }

    #sticky_menu .sticky_menu_item {
        width: 70px;
        height: 70px;
        margin: 2px 5px;
        border: white solid 3px;
    }

    #sticky_menu .sticky_menu_item .sticky_menu_item_left_cropped {

        height: 70px;
        width: 70px;
        font-size: 1.3em;
    }

    #sticky_menu .sticky_menu_item .sticky_menu_item_right_cropped {

        height: 70px;
        width: 70px;
        font-size: 1.3em;
    }    

    #sticky_menu .sticky_menu_item_text {
        height: 70px;
        width: 70px;
        font-size: 1.6em; 
    }

    .page_section_wrapper {

        /*same as sticky menu height + 5px*/
        padding-top: 85px;
    }

    #abt_prjct_ps .page_section_wrapper {
        padding-top: 15px;
    }
}
