/* 
    Document   : Stylesheet
    Created on : 11.9.2013, 22:15:58
    Author     : PC
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

* {
    margin: 0px 0px;
}

html, body {
    background-color: appworkspace;
    height: 100%;
    width: 100%;
}

.page_section {
    width: 100%;
}

.page_section_wrapper {
    padding-top: 5%;
    padding-left: 12%;
}

/**************** welcome section ****************/
#section_welcome {

    position: relative;
    width: 100%;
    height: 100%;
    background: #ffffff  url('./images/welcome_background.jpg') no-repeat left top;
    /*background-size: 100% Auto;*/
    background-size:cover;
}

#welcome_logo_kosice {

    /*absolute position ? */
    position: absolute;
    height: 85px;
    width: 88px;
    top: 0px;
    right: 0px;
    background: url('./images/welcome_kosice_logo.png') no-repeat;
}

#welcome_title {

    position: relative;
    height: 258px;
    width: 427px;
    background: url('./images/tokaj_title_logo.png') no-repeat center;
    /*background-size: 100% 100%;*/
}

#welcome_middle_wrapper{

    position: relative;
    height: 600px;
    width:  427px;
    margin: 0px auto;
    /*border: red solid 1px;*/
}

#welcome_menu {

    position: relative;
    height: 342px;
    width: 427px;
    text-align: center;
}

#welcome_menu .welcome_menu_item_wrapper {
    position: relative;
    display: inline-block;    
    width: 90px;
    height: 90px;
    margin: 2px auto;

    border-radius: 50%;
    border: white solid 3px;
}

#welcome_menu .welcome_menu_item_wrapper .menu_item_text {

    position: relative;
    color: white;
    text-transform: uppercase;
    /*border: green dotted 2px;*/
    top: 50%;
    margin-top: -1em;
}
/**************** end of welcome section ****************/

/**************** sticky menu of project info section ****************/
#sticky_menu {

    position: relative;

    width: 100%;
    height: 80px;

    /* used instead of classic rgb() and opacity */
    background-color: rgba(143, 72, 6, 0.65);
}

#sticky_menu_wrapper_left {

    position:absolute;

    height: 100%;

    left:0px;    

    margin: 8px auto;
}

#sticky_menu_wrapper_right {

    position:absolute;

    height: 100%;

    right:0px;

    margin: 8px auto;
}


#sticky_menu_wrapper_centered {

    position:absolute;

    left:50%;
    margin-left:-310px;
    margin-top: 8px;

    height: 100%;
    width: 620px;
}

#sticky_menu .sticky_menu_item {

    position:relative;

    float: left;
    width: 60px;
    height: 60px;

    margin: auto 5px;

    border-radius: 50%;
    border: white solid 3px;

    text-align: center;
}

#sticky_menu .sticky_menu_item .sticky_menu_item_left_cropped {

    position:absolute;

    top: 5px;
    left: 6px;    
    width: 50px;
    height: 50px;

    font-size: 120%;

    border-radius: 50%;
    border-left: white solid 3px;
}

#sticky_menu .sticky_menu_item .sticky_menu_item_right_cropped {

    position:absolute;

    top: 5px;
    right: 6px;
    width: 50px;
    height: 50px;

    font-size: 120%;

    border-radius: 50%;
    border-right: white solid 3px;
}

/* logo in the center of sticky menu */
#sticky_menu_logo_item {

    float: left;
    width: 150px;
    height: 60px;
    margin-top: -10px;
}

#sticky_menu .sticky_menu_item_text {

    position: relative;
    top: 50%;
    margin-top: -1em;
    font-size: 60%;

    color: white;
    text-transform: uppercase;

}/* end of sticky menu*/

/**************** project info section ****************/
#section_project_info {
    position: relative;
    width: 100%;
    height: 100%;
    background: #ffffff  url('./images/project_info_background.png') no-repeat left top;
    background-position: 50% 50%; /* for moving the background up */
    background-size:cover;
}

#project_info_container {

    position: relative;

    width: 1034px;
    height: 490px;

    border: solid red 1px;
}
#left_part_wrapper {
    position: absolute;
    float: left;

    width: 32%;
    height: auto;

    top: 0px;
    left: 0px;

    padding-top:    4px;
    padding-bottom: 0px;
    padding-left:   4px;
    padding-right:   4px;

    border: solid purple 1px;
}

#right_part_wrapper {
    position: absolute;
    float: right;

    width: 65%;
    height: auto;

    top: 0px;
    right: 0px;

    padding: 4px;

    border: solid orange 1px;
}

.left_part_block_item {
    position: relative;

    width: 316px;

    margin-bottom: 20px;
}

#right_part_wrapper .poject_info_right_part_text_wrapper{
    width: 100%;
}

#right_part_wrapper .poject_info_right_part_text_wrapper .left_column{
    float: left;
    width: 33%;
    /*min-width: 30%;*/
    /*border: solid green 1px;*/
}

#right_part_wrapper .poject_info_right_part_text_wrapper .right_column{
    float:left;
    width: 66%;
    /*border: solid blue 1px;*/
}
/**************** end of project info section ****************/

/**************** gallery section ****************/
#section_gallery {

    position: relative;
    width: 100%;
    height: 100%;
    background: #ffffff;
    /*background-position: 50% 50%; /* for moving the background up */
    background-size:cover;
}

#gallery {
    text-align: center;
}

#gallery .gallery_item
{
    margin:2px;
    height:auto;
    width:auto;
    float:left;
    text-align:center;
    margin-left: 2%;
}

#gallery .gallery_item .gallery_item_wrapper {
    text-align:center;   
}

#gallery .gallery_item
{
    display:inline;
    margin:10px;
    text-align:center;
}

#gallery .gallery_item .desc
{
    text-align:center;
    font-weight:normal;
    font-size: 75%;
    color: black;
}
/**************** end of gallery section ****************/

/**************** aims and realization section ****************/
#section_project_aims_and_realization {
    position: relative;
    width: 100%;
    height: 200%;
    background: #ffffff  url('./images/aims_realization_background.png') no-repeat left top;
    background-position: 50% 50%;
    background-size:cover;
}

#impressive_shoots_wrapper img {
    position: relative;
    width: 315px;
    height: 178px;
    margin-right: 16px;
    float: left;
}

#section_project_aims_and_realization .aims_and_realization_text_block_wrapper {
    position: relative;
    height: 300px;
    margin-top: 15px;
    margin-right: 16px;
}

#section_project_aims_and_realization .aims_and_realization_text_block_wrapper .block_item {

    position: relative;

    float: left;

    width: 315px;
    margin-right: 16px;
}

#section_project_aims_and_realization .block_item .block_item_title {

    margin-bottom: 10px;
    text-transform: uppercase;
}
/**************** end of aims and realization section ****************/

/**************** contact section ****************/
#section_contact {

    position: relative;
    width: 100%;
    height: 65%;
    background: #ffffff  url('./images/contact_background.jpg') no-repeat left top;
    background-position: 50% 50%; /* for moving the background up */
    background-size:cover;
}
/**************** end of contact section ****************/

/* hack */
.clear_both {
    clear: both;
}

/*** heading titles ***/
/*white*/
.section_title_wh {
    position: relative;
    color: white;
    font-family: "Helvetica Neue", sans-serif;/* what font?? */
    font-size:200%;
    margin-bottom: 2%;
    clear: both;

}
/*black*/
.section_title_bl {
    position: relative;
    color: black;
    font-family: "Helvetica Neue", sans-serif;/* what font?? */
    font-size:200%;
    margin-bottom: 2%;
    clear: both;
}

/* hack - selecting the second .section_title_bl heading */ 
.section_title_bl:nth-of-type(2n) {
    margin-top: 40%;
}

/* common texts */
.common_text{
    font-size: 95%;
}

.common_text_bold {
    font-size: 75%;
    font-weight: bold;
}
/*** end of heading titles ***/
